body{
    background-color: #f4f4f4;
    font-family: Arial,sans-serif;
    margin: 20px;
    
}
h1{
    color:darkblue;
    text-align: center;
}
h2{
    color: #333;
}
p{
    line-height: 1.5;
}
a{
    text-decoration: none;
    color:blue;
    margin-right: 15px;
}
a:hover {
    color: red;
}
ul{
    background-color: white;
    padding: 10px;
}
li{
    margin: bottom 5px;
    img{
        border-radius: 10px;
        margin-top: 10px;
    }
}
.section{
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.highlight{
    color: green;
    font-weight: bold;
}
.container{
    display: flex;
}
main{
    flex:3;
    padding: 20px;
    background-color: white;
}
aside{
    flex: 1;
    padding: 20px;
    background-color: #ddd;
}
header {
    background-color: darkblue;
    color: white;
    padding: 15px;
    text-align: center;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
nav{
    display: flex;
    justify-content: center;
    background-color: #555;
    padding: 10px;
}
nav a {
color: white;
margin: 0  15px;
text-decoration: none;
}
nav a :hover{
    color: yellow;
}
.container{
    display: flex;
    flex-direction: row;
}